.adcard {
  width: 230px;
  height: 160px;
  background-color: var(--overlay);
  border-radius: 20px;
}
.icon {
  margin-left: 90px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  color: var(--primary);
}
.num {
  text-align: center;
  margin-top: 5px;
}
.admintext {
  text-align: center;
  margin-bottom: 10px;
  margin-top: -15px;
}
