.container {
    display: flex;
    flex-direction: row;
    height: 100vh ;
  }
  .navContainer {
    padding: 40px;
    background-color: var(--tertiaryShade);
    width: 250px;
    height: 149vh;
    display: flex;
    flex-direction: column;
  }
  .logoarea {
    // flex: 2,
    display: flex;
    // alignItems: "center",
    justify-content: center;
  }
  .logo {
    height: 50px;
    width: auto;
  }
  .adminlogo {
    display: flex;
    justify-content: center;
  }

  .adminimage {
    width: auto;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
  }
  .menuItems {
    // display: "flex",
    list-style: none;
  }
  .liItems {
    margin-left: 5;
    display: flex;
    flex-direction: row;
  }
  .logItems {
    align-items: center;
    margin-left: 5px;
    margin-top: 60px;

    display: flex;
    flex-direction: row;
  }
  .maincont {
    display: flex;
    flex: 1;

    flex-direction: column;
  }
  .mainImg {
    justify-content: center;
    align-items: center;
    margin-left: 60px;
  }
  .mainimage {
    width: 1000px;
    align-items: center;
  }
  .boxcon {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 30px;
    // backgroundColor: theme.tertiaryShade,
    margin-left: 120px;
  }
  .boxcon2{
    display: flex;
    flex-direction: row;
    gap: 100px;

    // backgroundColor: theme.tertiaryShade,
    margin-left: 120px;
    margin-top: 30px;
  }
  .boxcon3 {
    display: flex;
    flex-direction: row;
    gap: 100px;

    // backgroundColor: theme.tertiaryShade,
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 200px;
  }
  .dashicon {
    margin-top: -20px;
  }
  .proimage {
    width: 40px;
    height: 40px;
    margin-left: -40px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .dashimage {
    width: 30px;
    height: 30px;
    margin-left: -40px;
    margin-top: 20px;
    margin-right: 15px;
  }
  .userimage {
    width: 35px;
    height: 35px;
    margin-left: -40px;
    margin-top: 20px;
    margin-right: 15px;
  }
  .couponimage {
    width: 40px;
    height: 40px;
    margin-left: -40px;
    margin-top: 15px;
    margin-right: 10px;
  }
  .ticketimage{
    width: 43px;
    height: 43px;
    margin-left: -40px;
    margin-top: 15px;
    margin-right: 10px;
  }
  .statimage{
    width: 35px;
    height: 35px;
    margin-left: -40px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .setimage{
    width: 35px;
    height: 35px;
    margin-left: -40px;
    margin-top: 15px;
    margin-right: 15px;
  }
  .logoutimage{
    width: 25px;
    height: 25px;
    margin-left: -40px;

    margin-right: 10px;
  }
  .foot{
    margin-top: 300px;
  }
  .sideimage {
    width: 380px;
    align-items: right;
    height: 300px;
  }
  .mainImg {
    justify-content: flex-end;
    align-items: right;
    margin-left: 700px;
  }
  .line {
    margin-top: -250px;
    margin-left: 40px;
    gap: 50,
  }
  .cu{
    margin-top: 40px;
  }
  .maincont {
    display: flex;
    flex: 1;
    
    flex-direction: column;
  }
  .form {
    background-color: var(--tertiaryShade);
    width: 35rem;
   margin-left: 2.5rem;
   border-radius: 5px;
 
  
  }

 .form input{
  margin-left: 10px;
  margin-top: 10px;
 }

 .form button{
  margin-left: 13rem;
  margin-bottom: 2rem;
 }


