.section {
  height: 15vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: transparent;
  backdrop-filter: blur(100px);
  margin-bottom: 20;
}
.container {
  width: 70vw;
  height: 15vh;
  margin: auto;
  display: flex;
}
.logoArea {
  flex: 2;
  display: flex;
  align-items: center;
  padding: 20;
}
.menuArea {
  flex: 3;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}
.logo {
  height: 50px;
  width: auto;
}
