html {
  --primary: #10ab68;
  --primaryShade: #10ab6840;
  --secondary: #3666ac;
  --secondaryShade: #3666ac40;
  --tertiary: #565656;
  --tertiaryShade: #cacaca40;
  --warning: #efcb68;
  --warningShade: #efcb6840;
  --danger: #ad343e;
  --dangerShade: #ad343e40;
  --primaryShadeLighter: #10ab6820;
  --textColor: #555555;
  --contrastTextColor: white;
  --overlay: #e0e0e0;
  --overlayShade: #88888880;
  --overlayShadeDarker: #888888bb;
  --yellow: #efcb68;
  --blue: #3666ac;
}
