@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
body,
html {
  margin: 0;
}
* {
  box-sizing: border-box;
}
button {
  all: unset;
  cursor: pointer;
}
