.p {
  font-family: 'Poppins';
  color: var(--textColor);
  margin-top: 15px;
  margin-bottom: 15px;
}
.h1 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 55px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--textColor);
}
.h2 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--textColor);
}
.h3 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--textColor);
}
.h4 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--textColor);
}
.h5 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--textColor);
}
.h6 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--textColor);
}
.h7 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--textColor);
}
.h8 {
  font-family: 'Poppins';
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--textColor);
}
.pr {
  font-family: 'Poppins';
  font-weight: 500;
  color: var(--textColor);
  margin: 0;
  padding: 0;
}
.prs {
  margin: 0;
  font-weight: light;
  font-family: 'Poppins';
  color: var(--textColor);
}
