.contactArea {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.sectionArea {
  flex: 1;
}
.imageArea {
  display: flex;
  justify-content: center;
}
.image {
  width: 80%;
  height: auto;
}
